<header class="header-6">
    <div class="branding">
      <a  class="nav-link">
        <img height="48.8" alt="logo" width="100" src="/weatheralert/assets/Leidos_QTC_Logo_White.png">
        <span class="logotext">Weather Notifications</span>
        
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <cds-icon shape="cog"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="/weatheralert" clrDropdownItem>About</a>
          <a href="/weatheralert" clrDropdownItem>Preferences</a>
          <a href="/weatheralert" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
