
<div class="main-container">
  <app-qtc-header/>
  
  <div class="content-container">
    <div class="content-area" cds-layout="m-t:md">
      <app-search/>      
    </div>    
  </div>
  Here loads the dynamic form
  <div class="form-container" *ngIf="formConfig">
    <fr-dynamic-form 
        [config]="formConfig"
        [vm]="vm"
        [settings] = "settings"
        (formSubmit)="onFormSubmit($event)"
        >
      </fr-dynamic-form>
  </div>
  <div class="content-area" cds-layout="m-t:md">
    <app-weather-event-grid/>
  </div>
  
  <app-qtc-footer/>
</div>


<router-outlet />

