<div class="clr-row">
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Case ID:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">5507744.2</p>
            </div>
        </div>
    </div>
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Mini Team:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">310A</p>
            </div>
        </div>
    </div>
</div>
<div class="clr-row mt-2">
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">name (L,F):</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">Last Name, First Name</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">DOB:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">12/05/1965</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Gender:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">M</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">SSN:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">XXXX-XX-9999</p>
            </div>
        </div>
    </div>
</div>
