<div class="clr-row" *ngIf="notification">
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Case ID:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification.caseId}}</p>
            </div>
        </div>
    </div>
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Mini Team:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification.miniTeam}}</p>
            </div>
        </div>
    </div>
</div>
<div class="clr-row mt-2">
    <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">name (L,F):</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification?.name}}</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">DOB:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification?.dob | date}}</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">Gender:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification?.gender | uppercase}}</p>
            </div>
        </div>
    </div> <div class="clr-col-3">
        <div class="clr-row">
            <div class="clr-col-4">
                <p cds-text="body semibold">SSN:</p>
            </div>
            <div class="clr-col">
                <p cds-text="body">{{notification?.ssn}}</p>
            </div>
        </div>
    </div>
</div>
