
<form clrForm clrLayout="horizontal" #weathersearchform="ngForm" (ngSubmit)="onSubmit(weathersearchform)" >
    <div class="clr-row">
        <div class="clr-col-12 clr-col-md-3">
            <clr-datalist-container>
                <label  class="clr-col-12 clr-col-md-2"  >Country</label>
                <input clrDatalistInput placeholder="Select" id="country1" required  name="frmSrchCountry" [(ngModel)]="weathersearch.frmSrchCountry" #frmSrchCountry="ngModel" class="clr-col-12 clr-col-md-8"  />
                <clr-control-error *ngIf="frmSrchCountry?.invalid && frmSrchCountry?.touched" >
                    <span *ngIf="frmSrchCountry?.errors?.['required']"> This field is required!</span>
                    </clr-control-error>
                <datalist>
                    <option *ngFor="let item of countries" [value]="item.countryName">{{item.countryName}}</option>
                  </datalist>
    
            </clr-datalist-container>
        </div>
       
        <div  class="clr-col-12 clr-col-md-3">
              <clr-datalist-container>
                <label for="weatherType" class="clr-col-12 clr-col-md-4">Weather&nbsp;Type</label>
                <input class="clr-col-12 clr-col-md-8" clrDatalistInput id="weatherType"  name="weatherTypenm" [(ngModel)]="weathersearch.weatherTypenm" #weatherTypenm="ngModel" placeholder="Select" />
                <datalist>
                    <option *ngFor="let item of weatherTypes" [value]="item.weatherName">{{item.weatherName}}</option>
                  </datalist>
            </clr-datalist-container>
        </div>
        
        
        <div class="clr-col-12 clr-col-md-3 ">
            <clr-date-container>
                <label for="startDatepickrnm" class="clr-col-12 clr-col-md-3">Start&nbsp;Date</label>
                <input class="clr-col-12 clr-col-md-9" type="date"   clrDate id="startDatepickrnm" name="startDatepickrnm"#frmSrchStDt="ngModel" [(ngModel)]="weathersearch.frmSrchStDt" >
            </clr-date-container>
        </div>
        <div class="clr-col-12 clr-col-md-3">
            <clr-date-container>
                <label for="endDatepickrnm" class="clr-col-12 clr-col-md-3">End&nbsp;Date</label>
                <input class="clr-col-12 clr-col-md-9" type="date"   clrDate id="endDatepickrnm" name="endDatepickrnm" #frmSrchEndDt="ngModel" [(ngModel)]="weathersearch.frmSrchEndDt" >
            </clr-date-container>
        </div>
    </div>
        <div class="clr-row">     
        <div class="clr-col-12 clr-col-md-3">
            <clr-input-container>
                <label for="location" class="clr-col-12 clr-col-md-2"><div>Location</div></label>
                <input class="clr-col-12 clr-col-md-8" clrInput type="text" id="location"  name="location" #frmSrchLocation="ngModel" [(ngModel)]="weathersearch.frmSrchLocation" />
              </clr-input-container>
        </div>
        <div class="clr-col-12 clr-col-md-3 combo-box" *ngIf="weathersearch.frmSrchCountry === 'usa'">
            <clr-combobox-container>
                <label class="clr-col-12 clr-col-md-3">States</label>
                <clr-combobox class="clr-col-12 clr-col-md-6" [(ngModel)]="weathersearch.state" clrMulti="true" name="frmState" #frmState="ngModel" [required]="weathersearch.frmSrchCountry.toLowerCase() === 'usa'">
                  <ng-container *clrOptionSelected="let selected">
                    {{ selected?.name }}
                  </ng-container>
                  <clr-options>
                    <clr-option *clrOptionItems="let state of states; field: 'name'" [clrValue]="state">
                      {{ state.name }}
                    </clr-option>
                  </clr-options>
                </clr-combobox>
                <clr-control-error *ngIf="frmState?.invalid && frmState?.touched">This field is required</clr-control-error>
              </clr-combobox-container>
        </div>
        <div class="clr-col-12 clr-col-md-9"> </div>
    </div>
      <div class="clr-row">
        <div class="clr-col-12 clr-col-md-9"></div>
        <div class="clr-col-12 clr-col-md-3" style="float: right;">
            <button type="button" class="btn btn-outline" style="float: right;" (click)="reset(weathersearchform)">Reset</button>
            <button type="submit" class="btn btn-outline" style="float: right;">Search</button>
            
            <button type="button" class="btn btn-outline" style="float: right;" (click)="openModal('add')">Add</button>
            
        </div>
    </div>
   </form>
   
   <div  class="clr-row">
    <div class="clr-col-12">
        <clr-datagrid>
            <clr-dg-column [clrDgField]="'evetstartdate'">Event Start Date</clr-dg-column>
            <clr-dg-column [clrDgField]="'eventenddate'">Event End Date</clr-dg-column>
            <clr-dg-column [clrDgField]="'weatherevent'">Weather Event</clr-dg-column>
            <clr-dg-column [clrDgField]="'waethertype'">Weather Type</clr-dg-column>
            <clr-dg-column [clrDgField]="'desscription'">Description</clr-dg-column>
            <clr-dg-column [clrDgField]="'location'">Location</clr-dg-column>
            <clr-dg-column [clrDgField]="'eventstartdate'">Country</clr-dg-column> 
            <clr-dg-column [style.width.px]="80" />   
          
            <clr-dg-row *ngFor="let weather of weatherEvents">
             <clr-dg-cell>{{ weather.startDate | date }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.endDate | date }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.weatherEvent }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.weatherType }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.description }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.location }}</clr-dg-cell>
              <clr-dg-cell>{{ weather.country }}</clr-dg-cell>      
              <clr-dg-cell>
                <div class="button-wrapper">
                    
                    <span class="cellContainer" (click)="editEntry(weather)">
                        <cds-icon shape="pencil" solid="true" style="display: block;"></cds-icon>
                    </span>
                    <span class="cellContainer">
                        <cds-icon shape="trash" solid="true" style="display: block;"></cds-icon>
                    </span>
                    
                </div>
            </clr-dg-cell>
            </clr-dg-row>
          
            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="2">
                <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
                {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                {{ pagination.totalItems }} users
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
    </div>
    </div>
   <app-addevent [formData]="gridData" (closeEvent)="handleFormClose($event)" />